#send {
  margin: auto;
  height: 3.5em;
  width: 3.5em;
  border: none;
  background: no-repeat url('./send.png');
  background-size: contain;
  background-position: center;
}

#message-text {
  background: none;
  position: relative;
  bottom: 0;
  /* margin: auto; */
  font-size: 2.75em;
  line-height: 1.2em;
  padding: 0.2em 0.5em;
  resize: none;
  border: none;
  /* word-wrap: break-word; */
  /* word-break: break-all; */
  width: 85%;
  height: 100%;
  caret-color: var(--green);
  overflow: auto;
}

#message-text::placeholder {
  color: var(--mid-grey);
}

#message-text::-webkit-scrollbar {
  width: 0.2em;
}