

.Chat {
  display: grid;
  grid-template-areas:
    "roomlist roomlist messagelist messagelist messagelist messagelist"
    "roomlist roomlist messagelist messagelist messagelist messagelist"
    "roomlist roomlist messagelist messagelist messagelist messagelist"
    "roomlist roomlist messagelist messagelist messagelist messagelist"
    "roomlist roomlist messagelist messagelist messagelist messagelist"
    "roomlist roomlist sendmessage sendmessage sendmessage sendmessage";
    /* overflow: hidden; */
}

.Chat > div {
  padding: 1em 2em;
}

.RoomList {
  grid-area: roomlist;
  position: relative;
  z-index: 2;
  padding: 1em;
  justify-content: center;
  text-align: center;
  background: var(--dark-grey);
  box-shadow: var(--drop-shadow);
  /* width: 20vw; */
  /* height: 100%; */
  overflow-y: auto;
}

.MessageList {
  grid-area: messagelist;
  position: relative;
  background: var(--mid-grey);
  /* width: 80vw; */
  height: 90vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1em rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--dark-grey); 
  visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

div.SendMessageForm {
  grid-area: sendmessage;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  z-index: 3;
  background: var(--light-grey);
  box-shadow: var(--top-drop-shadow);
  height: 10vh;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .RoomList {
    width: 25vw;
  }
  
  .MessageList {
    width: 75vw;
  }
  
}