.message-block {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 1em;
}

.username-box {
  background: var(--dark-grey);
  padding: 0.5em 0.75em;
  margin-right: 0.5em;
  border-radius: 0.5em 0.5em 2em 2em;
  height: 100%;
}

.message {
  display: inline-flex;
  word-wrap: break-word;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  border-radius: 50em;
  box-shadow: var(--message-shadow);
}

.sent-message {
  flex-direction: row-reverse;
}

.sent-message > .message {
  background: var(--blue);
  border-radius: 20em 20em 5em 20em;
}

.fetched-message > .message {
  background: var(--dark-grey);
  border-radius: 5em 20em 20em 20em;
}

.timestamp {
  margin: auto 0.5em;
  color: var(--dark-grey);
}